/* nejsme vcerejsi, pouzivame moderni a intuitivni box model */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

.paticka{
    background-color: #282425;
    color: white;
    text-align: center;
    padding: 20px 0 ;
    
}
 .foto-hlavicka{
    width: 200px;
    border-radius: 50%;
    border: 2px solid darkviolet;
   
}
div{
    text-align: center;
    background-color: thistle;
    
}
.omne{
    text-align: center;
  
 
   
}
.foto-Rodina{
    width: 400px;
    float: left;
    margin-right: 30px;
    margin-bottom: 30px
    margin-top 0;
    border-radius: 10%;
    border: 2px solid darkviolet;
}
.foto-zamestnani{
    width: 400px;
    float: right;
    margin-left: 50px;
    margin-bottom: 50px;
    margin-top: 0;
    border-radius: 10%;
    border: 2px solid darkviolet;
}
.foto-kontakt{
    width: 200px;
    float: left;
    margin-right: 30px;
    margin-bottom: 30px;
    border-radius: 10%;
    border: 2px solid darkviolet;
}
body{
    color: #282425;
    background-color: #fff1e6;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    line-height: 1.5;
    margin: 0;
      }

    .Rodina,
    .Kontakt{
        padding: 30px 10%;
        overflow: auto;
        margin-left: 50px;
        margin-right: 50px;
          }

